header{
    background-color: forestgreen;
    text-align: center;
    height: 110px;
}

nav{
    display: flex;
    justify-content: space-around
}

.menu-item{
    background-color: bisque;
    padding: 10px;
    border-radius: 5px;
    border: 2px solid bisque;
    
}
body{
    background-color: rgb(196, 255, 240);
    text-align: center;
}

footer{
    background-color: rgb(205, 196, 255);
    padding: 10px;
}
